.pagination {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.pagination-link {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-right: 5px;
}

.pagination-link:hover {
    background-color: #ddd;
}

.pagination-link.active {
    background-color: #4CAF50;
    color: white;
}

.items-per-page-form {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items-per-page-form label {
    margin-right: 5px;
}

.items-per-page-form input[type="number"] {
    width: 60px;
    padding: 5px;
}

.items-per-page-form input[type="submit"] {
    padding: 5px 10px;
}
